$c-blue: #007DFC;
$c-midnight:#001C39;
$c-white: #fff;
$c-submarine: #B7BEC5;
$c-catskill: #E4E9F3;
$c-casper: #B3C4D6;
$c-selago: #F4F7FE;
$c-waterloo: #88819F;
$c-smoky :#594F78;
$c-mishka: #D0CDD8;
$c-chatelle: #B8B3C5;
$c-zircon:#F8FAFF;
$c-selago-dark: #ECF1FD;
$c-mishka-dark: #D7D6DF;